@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Space+Mono&display=swap");
/* 
.grid {
  width: 90%;
  max-width: 80rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 1.5rem;
  z-index: -1001;
} */

body {
  background: rgb(46, 46, 51);
  background: linear-gradient(
    rgba(46, 46, 51, 1) 0%,
    rgba(39, 38, 53, 1) 10%,
    rgba(4, 3, 6, 1) 100%
  );
  color: #fff;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.header__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__span {
  position: relative;
  top: -6.5rem;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
  color: #fff;
  font-family: "Glass Antiqua", cursive;
}

.header__svg {
  max-width: 750px;
  width: 100vh;
}

/* About */

.about {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.about__span {
  font-family: "Glass Antiqua", cursive;
  font-size: 7.5vh;
  text-transform: uppercase;
  text-align: center;
}

.about__span--small {
  font-family: "Glass Antiqua", cursive;
  font-size: 3.5vh;
  text-transform: lowercase;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.about__p {
  display: flex;
  font-family: "Space Mono", monospace;
  font-size: 2vh;
}

.about__p--left,
.about__p--right {
  margin: 10px;
  text-align: center;
}

/* Features */

.features {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__text {
  font-family: "Space Mono", monospace;
  font-size: 1.5vh;
  text-align: center;
}

.features__span {
  font-family: "Glass Antiqua", cursive;
  font-size: 7.5vh;
}

.features__card--odd {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  justify-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  /* transition: box-shadow 0.3s; */
}

.features__card--even:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.features__card--odd:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.features__card--even {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  justify-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  /* transition: box-shadow 0.3s; */
}

.features__card--text {
  display: grid;
}

.features__card--span {
  font-family: "Glass Antiqua", cursive;
  font-size: 3.5vh;
  margin: 10px 0;
  text-align: center;
}

.features__card--p {
  font-family: "Space Mono", monospace;
  font-size: 1.75vh;
}

.features__card--img {
  height: 20vh;
  width: 20vh;
  margin: 10px;
  border-radius: 20px;
}

/* FAQ */

.FAQ {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FAQ__span {
  text-transform: uppercase;
  font-family: "Glass Antiqua", cursive;
  font-size: 3rem;
  margin: 10px;
}

.FAQ__quescard--all {
  width: 100%;
}

.FAQ__ques--all {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  scroll-behavior: smooth;
}

.FAQ__ques {
  min-width: 200px;
  height: fit-content;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.FAQ__ques--span {
  font-size: 1.25rem;
  font-family: "Space Mono", monospace;
  text-align: center;
}

.FAQ__ques--p {
  font-size: 0.8rem;
  font-family: "Space Mono", monospace;
  text-align: center;
}

.FAQ_Reach-out {
  text-align: center;
}

.FAQ_Reach-out p {
  font-family: "Space Mono", monospace;
}

.FAQ_Reach-out button {
  font-family: "Space Mono", monospace;
  height: 5vh;
  width: 10vw;
}

/* Join us */

.joinus {
  margin: 10px;
}

.joinus__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinus__banner--img {
  height: 11vw;
  width: 11vw;
}

.joinus__banner--h {
  font-size: 5vh;
  font-family: "Glass Antiqua", cursive;
  text-transform: uppercase;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.joinus__banner--text {
  padding: 10px;
  justify-items: center;
  font-family: "Space Mono", monospace;
  text-align: center;
  font-size: 2vh;
}

.joinus__buttons {
  margin: 10px;
  border: none;
}

.joinus__signup--btn {
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  height: 5vh;
  width: 10vw;
  cursor: pointer;
  font-family: "Space Mono", monospace;
}

.joinus__learnmore--btn:hover,
.joinus__signup--btn:hover {
  background-color: #aaa;
}

/* Footer */

.footer {
  padding: 10px;
  margin: 0;
}
.footer__links {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer__about {
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", monospace;
}

.footer__about--links {
  font-size: 2vh;
  text-decoration: none;
  color: #fff;
  font-family: "Space Mono", monospace;
}

.footer__about--links:hover {
  text-decoration: none;
  color: #aaa;
}

.footer__about--links:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer__help {
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  font-family: "Space Mono", monospace;
}

.footer__help--links {
  text-decoration: none;
  color: #fff;
  font-family: "Space Mono", monospace;
}

.footer__help--links:hover {
  text-decoration: none;
  color: #aaa;
}

.footer__help--links:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer__social {
  display: flex;
  flex-direction: row;
}

.footer__social--links {
  font-size: 2vh;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.footer__social--links:hover {
  text-decoration: none;
  color: #aaa;
}

.footer__social--links:visited {
  color: rgba(255, 255, 255, 0.5);
}

.footer__span {
  color: rgba(255, 255, 255, 0.25);
}

.footer__cr {
  color: rgba(255, 255, 255, 0.2);
  font-size: 2vh;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

/* Divisions */

.division {
  display: flex;
  justify-content: space-evenly;
}

.division img {
  height: 2.5rem;
  width: 2.5rem;
}
