.container {
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 45, 98);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav {
  margin-bottom: 20px;
}

.category-button {
  padding: 10px 20px;
  border: none;
  background-color: #f1f1f1;
  margin-right: 10px;
  cursor: pointer;
}

.category-button.active {
  background-color: #007bff;
  color: white;
}

.result {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
}
