.category-button {
  width: 15rem;
  height: 10vh;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.category-button.active {
  background-color: white;
  color: rgb(0, 45, 98);
  border: 1vh solid rgba(0, 45, 98, 0.5);
}
